:host {
  display: inline-block;
}

button {
  cursor: pointer;
}

.primaryStyle {
  padding: 10px 5px;
  border-radius: 2.5px;
  border: 1 solid var(--theme-text-neutral);
  transition: all .1s;

  &:hover {
    transform: scale(.97);
  }

  &:active {
    transform: scale(.94);
  }
}

.primaryColor {
  color: var(--theme-text-for-gradient);
  background: var(--theme-gradient);
}

.secondaryStyle {
  padding: 10px 5px;
  border-radius: 2.5px;
  border: 1 solid var(--theme-text-neutral);
  transition: all .1s;

  &:hover {
    transform: scale(.97);
  }

  &:active {
    transform: scale(.94);
  }

  &::before {
    content: "";

  }
}

.secondaryColor {
  color: var(--theme-text-for-gradient);
  background: var(--theme-gradient);

  &::before {
    content: "";

  }
}
